body{
background:rgb(170, 45, 45);
}

.dept-box{
background:lightgray;
padding:30px;
border-radius:8px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
transition:0.3s;
}

.dept-box:hover{
transform:translateY(-5px);
box-shadow:0 6px 15px rgba(0,0,0,0.2);
}

.carousel-item img{
height:500px;
object-fit:cover;
}